name: Test Payload

on:
  workflow_dispatch:
  pull_request:
    types: [closed]

jobs:
  log:
    runs-on: ubuntu-latest
    steps:
      - name: Run echo command
        env:
          GH_ACTION: ${{ github.event.action }}
        shell: bash
        run: echo '$GH_ACTION'
